<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imaginibus">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.SET_WALLPAPER"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_asset"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize"
        android:theme="@style/Theme.Imaginibus">
        <activity android:name=".Activity.FaceGroup"></activity>
        <activity android:name=".Activity.EditImage" />
        <activity android:name=".Activity.ViewVideo" />
        <activity android:name=".Activity.FavoriteLayoutA" />
        <activity android:name=".Activity.ViewImage" />
        <activity android:name=".Activity.SecureCode" />
        <activity android:name=".Activity.EnterPassword" />
        <activity android:name=".Activity.SecureAlbum" />
        <activity android:name=".Activity.SecureRegisterActivity" />
        <activity android:name=".Activity.Video" />
        <activity android:name=".Activity.Location" />
        <activity android:name=".Activity.Favorite" />
        <activity android:name=".Activity.ByDate" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>